tornado==6.4.1
platformdirs==4.3.6
urllib3==2.2.3
pyparsing==3.1.4
typing_extensions==4.12.2
hyperframe==6.0.1
certifi==2024.8.30
six==1.16.0
pydantic_core==2.27.2
networkx==3.1
pip==24.3.1
wandb==0.19.6
zstandard==0.23.0
packaging==24.2
matplotlib==3.7.3
pooch==1.8.2
python-dateutil==2.9.0
docker-pycreds==0.4.0
unicodedata2==15.1.0
joblib==1.4.2
filelock==3.16.1
kiwisolver==1.4.5
psutil==7.0.0
pydantic==2.10.6
wheel==0.45.1
tqdm==4.67.1
eval_type_backport==0.2.2
torchvision==0.15.2a0+ab7b3e6
scipy==1.10.1
numpy==1.24.4
PyQt5==5.15.9
threadpoolctl==3.5.0
opencv-python-headless==4.9.0
GitPython==3.1.44
pycparser==2.22
click==8.1.8
gmpy2==2.1.5
fonttools==4.53.1
charset-normalizer==3.4.0
hpack==4.0.0
protobuf==5.29.3
sentry-sdk==2.21.0
idna==3.10
sympy==1.13.3
scikit-learn==1.3.2
mpmath==1.3.0
Brotli==1.0.9
importlib_resources==6.4.5
PySocks==1.7.1
pillow==10.3.0
torch==2.0.0.post304
colorama==0.4.6
zipp==3.21.0
Jinja2==3.1.4
munkres==1.1.4
setproctitle==1.3.4
setuptools==75.3.0
gitdb==4.0.12
PyYAML==6.0.2
opencv-python==4.9.0
MarkupSafe==2.1.5
requests==2.32.3
toml==0.10.2
ply==3.11
smmap==5.0.2
cffi==1.17.0
tomli==2.0.2
sip==6.7.12
PyQt5-sip==12.12.2
h2==4.1.0
annotated-types==0.7.0
contourpy==1.1.1
cycler==0.12.1
